Flask==2.2.2
flask-cors==5.0.1
requests==2.31.0
beautifulsoup4==4.12.3
cryptography==41.0.7
numpy==1.26.4
pillow==10.2.0
pyyaml==6.0.1
pycryptodome==3.18.0  # if you need encryption related to security features
lxml==5.2.1
selenium==4.27.1
gunicorn==20.1.0
boto3==1.26.0
botocore==1.29.165
pyserial==3.5
psutil==5.9.8
pyqt5==5.15.10  # If using GUI-related features for the web app
python-dotenv==0.19.2
requests-file==2.1.0
Werkzeug==2.2.2
Flask-SQLAlchemy==2.5.1  # for DB management if you're using it
